# Full reference https://github.com/foundry-rs/foundry/tree/master/config
[profile.default]
auto_detect_solc = false
fuzz_runs = 256
libs = ["lib"]
gas_reports = ["*"]
optimizer = true
optimizer_runs = 10_000
out = "out"
solc = "0.8.16"
src = "src"
test = "test"
script = "script"

[profile.ci]
fuzz_runs = 1_000
verbosity = 4

[rpc_endpoints]
celo = "${CELO_RPC_URL}"

[etherscan]
celo = { key = "${ETHERSCAN_KEY}" }
